<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="UserDaoMysqlImpl" class="study.dao.UserDaoMysqlImpl" />
    <bean id="UserDaoOracleImpl" class="study.dao.UserDaoOracleImpl" />

    <bean id="UserServiceImpl" class="study.service.UserServiceImpl" >
        <property name="userDao" ref="UserDaoOracleImpl"/>
    </bean>

<!--    ref : 引用Spring中创建好的对象-->
<!--    value： 具体的值，基本数据类型-->
</beans>